.confirming-operations,
.confirming-roles {
  .check {
    label {
      display: flex;
      font-size: 14px;
      font-weight: 500;
      margin: 14px 0;
      cursor: pointer;
      svg.mdi {
        margin-bottom: 3px;
      }
    }
  }
}
#confirming-role .add-user-input {
  justify-content: start;
  position: relative;
  padding: 0;
  top: 10px;
}
.accordion__item,
.accordion__panel {
  border-color:#fff !important;
}
