// [class*="monthPicker"] {
//   display: flex;
//   width: 300px;
//   [class*="month-text"] {
//     background-color: #fafafa;
//     border-radius: 0;
//     width: 59px;
//     height: 59px;
//     line-height: 59px;
//     &[class*="in-range"] {
//       background-color: #e9f7fe;
//       color: $login_color;
//     }
//     &[class*="range-start"],
//     &[class*="range-end"] {
//       background-color: #b2e1fa;
//     }
//   }
// }
@import "../../../assets/css/ScssPartials/variable";

* {
  outline: none;
}
[class*="day-names"] {
  margin: 0 auto;
  [class*="day-name"] {
    visibility: hidden;
    position: relative;
    &::after {
      visibility: visible;
      position: absolute;
      left: 0px;
      width: 27px;
    }
    &:nth-child(1) {
      &::after {
        content: "Be";
      }
    }
    &:nth-child(2) {
      &::after {
        content: "Ça";
      }
    }
    &:nth-child(3) {
      &::after {
        content: "Çr";
      }
    }
    &:nth-child(4) {
      &::after {
        content: "Ca";
      }
    }
    &:nth-child(5) {
      &::after {
        content: "Cm";
      }
    }
    &:nth-child(6) {
      &::after {
        content: "Şə";
      }
    }
    &:nth-child(7) {
      &::after {
        content: "Bz";
      }
    }
    font-size: 12px;
    font-weight: bold;
    color: $undefined;
    margin: 7.5px;
  }
}
[class*="month"] {
  margin-bottom: 0;
}
[class*="week"] {
  width: 300px;

  [class*="day"] {
    // background-color: #fafafa;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    transition: all 0.2s;
    font-size: 14px;
    margin: 0 7px 14px;
    font-weight: 700;
    color: $text_color;
    &[class*="in-range"] {
      background-color: $in_range;
      color: $login_color;
    }
    &[class*="day--outside-month"] {
      color: $undefined;
    }
    &[class*="day--today"] {
      color: $main_color;
      background-color: #fff;
    }
    &:hover {
      background-color: $hover;
    }
    &[class*="day--selected"],
    &[class*="range-start"],
    &[class*="range-end"] {
      background-color: $range;
      color: $text_color;
    }
    &[class*="disabled"] {
      background-color: #fff;
      color: #dfdfdf;
    }
  }
}
.react-datepicker__input-container input {
  display: none;
}
.react-datepicker-popper {
  width: max-content;
  box-shadow: 0px -2px 10px #00000030;
  border-radius: 6px;
  top: 0px !important;
  left: -164px !important;
  .react-datepicker {
    border: none;
    border-radius: 6px;
    [class*="datepicker__header"] {
      background-color: #fff;
      line-height: 30px;
      min-width: 300px;
      border: none;
      select {
        border: none;
        font-size: 16px;
        font-weight: 800;
        margin: 0 10px;
        color: $text_color;
      }
    }
    [class*="triangle"] {
      border-bottom-color: #fff;
      left: 50%;
      &::before {
        border: none;
      }
    }

    [class*="datepicker__navigation"] {
      border: 2px solid transparent;
      border-left-color: $login_color;
      border-bottom-color: $login_color;
      //   border-right-color: transparent;
      border-radius: 3px;
      background-color: #fff;
      height: 9px;
      width: 9px;
      top: 20px;
      padding: 0;
      &[class*="previous"] {
        transform: rotate(45deg);
        left: 20%;
      }
      &[class*="next"] {
        transform: rotate(-135deg);
        right: 20%;
      }
    }
  }
}
[class*="today-button"] {
  background: #fff;
  border-color: #f2f2f2;
  padding: 16px 0;
  border-radius: 0 0 6px 6px;
  transition: all 0.3s;
  &:hover {
    color: $main_color;
  }
}
