@import "../../../../assets/css/ScssPartials/variable";

.popup-body input {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
}
.label {
  margin-top: 24px;
  font-size: 16px;
  font-weight: bold;
}
.icon-set {
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  width: 394px;
  .item {
    border: 1px solid #fff;
    background-color: #f7f7f7;
    padding: 11px;
    border-radius: 6px;
    margin: 4px;
    transition: all 0.3s;
    svg.mdi {
      fill: $undefined;
    }
    &::after,
    &::before {
      transition: all 0.3s;
      content: "";
      position: absolute;
    }

    &.active {
      border-color: $main_color;
      background-color: #edf5fe;
      position: relative;
      &::after {
        top: -6px;
        right: -6px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $main_color;
      }
      &::before {
        z-index: 2;
        top: -4px;
        right: -3px;
        width: 3px;
        height: 5px;
        border-radius: 2px;
        border: 2px solid #fff;
        border-left: $main_color;
        border-top: $main_color;
        transform: rotate(45deg);
      }
    }
  }
}
.color-set {
  display: flex;
  justify-content: flex-start;
  .color-item {
    margin: 3px;
    border: 2px solid #fff;
    &.active {
      border-radius: 50%;
    }
    .circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #fff;
    }
  }
}
