


%scroll {
  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #fff;
  }

  &::-webkit-scrollbar {
    width: 4px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dde1e9;
  }
}