@import "../../assets/css/ScssPartials/variable";
.page-body {
  min-height: calc(100vh - 98px);
}
.btn.add-role {
  padding: 10px 50px;
  margin-right: 30px;
  margin-left: auto;
  color: #fff;
  background-color: $main_color;
  font-size: 14px;
  font-weight: 600;
}
.roles {
  display: flex;
  justify-content: center;
  padding: 65px 10%;
}
